
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: sans-serif;
  padding: 2em;
  max-width: 800px;
  margin: auto;
}
textarea {
  width: 100%;
  height: 200px;
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
  font-family: monospace;
  font-size: 14px;
  padding: 0.5em;
}
select, button {
  padding: 0.5em;
  font-size: 1em;
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
  margin-top: 1em;
}
button:hover {
  background-color: #555;
}
label {
  display: block;
  margin-top: 1em;
}
